body{
  font-family: Arial, Tahoma;
}
.container{
  width: 200px;
  height: 200px;
  margin: 20px;
  background: #666;
  border-radius: 10px 20px 30px 50px;
  border-bottom-right-radius:10px 40px;
  /*border-bottom-right-radius etc*/
}
.container2{
  width: 200px;
  height: 200px;
  margin: 20px;
  background: #666;
  border-radius: 30px 140px;
  /**/
}
.container3{
  width: 200px;
  height: 200px;
  margin: 20px;
  background: #666;
  border-radius: 50%;
  border: 3px solid #000;
  /**/
}
