body{
  font-family: Arial, Tahoma;
  color:#333;
}
ul{
  padding: 0;
  list-style:inside square;
  /*list-style-type: lower-alpha;
  list-style-position: inside;
  list-style-image: url(https://api.icons8.com/download/24048c89de25bc718f51d8816173ac484a878b29/windows10/PNG/512/Very_Basic/ok-512.png);
  */
}
