body{
  background: #777;
  font:2em Arial, Tahoma;

}
.square{
  display: inline-block;
  width: 200px;
  height: 200px;
  background: #222;
  margin: 30px;
  color: white;
  line-height: 200px;
  text-align: center;
  box-shadow: 0 0 4px rgba(0,0,0,.4);
  /*animation:*/
  animation-name: spin;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;


}
.square:hover{
  animation-play-state: paused;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform:rotate(360deg)
  }
  /*from to 0-100*/
}

.container{
  display: block;
  width: 200px;
  height: 30px;
  border: 3px solid #fff;
  background: #999;
  border-radius: 7px;
  overflow: hidden;
  margin: 40px;
  box-shadow: 0 3px 4px rgba(0,0,0,.3);
}
.bar{
  height: 30px;
  width: 400px;
  background: repeating-linear-gradient(45deg, rgba(255,255,255,.9) 0, rgba(255,255,255,.9) 5px, transparent 5px, transparent 10px);
  animation: slide 3s linear infinite;
}
@keyframes slide {
  0%{
    margin-left: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    margin-left: -100%;
  }
}
